asgiref==3.11.1
boto3==1.43.30
botocore==1.43.30
Django>=6.0.6
django-cors-headers==4.9.0
django-environ==0.13.0
django-jazzmin==3.0.4
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
jmespath==1.1.0
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
PyJWT==2.13.0
python-dateutil==2.9.0.post0
s3transfer==0.18.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
